* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100%;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: #ffad06;
    z-index: 1;
}

.sidebar:hover {
    width: 250px;
    transition: 0.5s;
}

.logo {
    height: 80px;
    padding: 16px;
}

.menu {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active {
    background: #e0e0e058;
}

.menu a{
    color: fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span {
    overflow: hidden;
}

.menu a i {
    font-size: 1.2rem;
}

.logout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* main body */
.main--content {
    position: relative;
    background: #f3ebdb;
    width: 100%;
    padding: 1rem;
    margin-left: 110px;
    height: max-content;
}

.profile-pic {
    width: 30;
    height: 30;
    cursor: pointer;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header--title {
    color: #000;
}

.user--info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search--box {
    background: #ccc;
    border-radius: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}

.search--box input {
    background: transparent;
    padding: 10px;
}

.search--box i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.search--box i:hover {
    transform: scale(1.2);
}

/* card container */
.card--containter {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
}

.card--wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.main--title {
    font-size: 25px;
    color: #000;
    margin-bottom: 10px; 
    margin-top: 0;
}

.title {
    font-size: 15px;
    font-weight: bold;
}

/*calendar*/
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.events-list {
    list-style: none;
    padding: 0;
}

.event-box {
    margin-bottom: 12px;
}

.event {
    background-color: purple;
    border-radius: 8px;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.event:hover {
    transform: translateY(-5px);
}

.date {
    font-size: 14px;
    background-color: rgb(254, 226, 254);
    color: black;
    border-radius: 4px;
    padding: 4px 8px;
}


/* contact us */
.contact--container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.contact--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact-icon {
    position: relative;
    color: #000;
    font-size: 25px;
    transition: color 0.3s;
}

.contact-icon:hover .contact-info {
    opacity: 1;
    visibility: visible;
}

.contact-info {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    background: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    white-space: nowrap;
}

/* color */
.light-red {
    background: rgb(251, 233, 233);
}

.light-purple {
    background: rgb(254, 226, 254);
}

.light-green {
    background: rgb(235, 254, 235);
}

.light-blue {
    background: rgb(236, 236, 254);
}

.dark-red {
    background: red;
}

.dark-purple {
    background: purple;
}

.dark-green {
    background: green;
}

.dark-blue {
    background: blue;
}

.weather--card.extended {
    width: 100%; /* Make the weather card span the full container width */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* This will provide equal spacing around the items */
    align-items: stretch; /* Stretch the children to fill the available height */
}

.weather.day {
    flex: 1 1 14%; /* Flex item can grow and shrink, basis is 14% of the flex container */
    margin: 0.5%; /* Provide some space between the cards */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: adds shadow for better visual separation */
    display: flex;
    flex-direction: column; /* Stack the weather icon and information vertically */
    justify-content: space-around; /* Distribute space around the content */
    padding: 15px; /* Add some padding inside the weather cards */
    text-align: center; /* Center the text */
    height: 200px;
}

.weather i {
    font-size: 2em; /* Larger icons */
    margin-bottom: 10px; /* Space below icons */
}
